body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        h1 {
            text-align: center;
            background-color: #007bff;
            color: #fff;
            padding: 10px;
            border-radius: 8px 8px 0 0;
            margin-bottom: 20px;
            width: 100%;
            box-sizing: border-box;
        }

        form {
            width: 400px;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input[type="text"],
        input[type="number"],
        input[type="date"],
        input[type="checkbox"] {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
        }

        input[type="button"] {
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
            width: 200px;
            padding: 10px;
            border: none;
            border-radius: 5px;
        }

        input[type="button"]:hover {
            background-color: #0056b3;
        }

        #employeeDetails {
            margin-top: 20px;
        }

        /* Style for Gender section */
        .gender-section {
            display: flex;
            flex-direction: column;
            background-color: #f9f9f9;
            border-radius: 8px;
            padding: 10px;
            margin-bottom: 20px;
        }


        .qualification-section {
            display: flex;
            flex-wrap: wrap;
        }

        .qualification-checkbox {
            flex: 0 0 48%;
            margin-bottom: 8px;
        }

        table {
        width: 70%;
        border-collapse: collapse;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: antiquewhite
    }

    h2 {
        margin-top: 20px;
    }